.container {
    text-align: center;
}

.nav {
    position: fixed;
    z-index:100;
    opacity:0;
    transition-property: all;
    transition-duration: 300ms;
}

.nav-active .nav {
    opacity:0.8;
    background-color: #333;
}

.nav_list {
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.nav_item {
    list-style-type: none;
    text-align: left;
    padding: 2em;
    width: 100%;
}

.nav_item:hover {
    background: #000000;

}

.nav_link {
    font-size:2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    opacity:1;
    transition: opacity 300ms ease-in-out;
}

.nav_trigger {
    display:block;
    position:fixed;
    width:30px;
    height:25px;
    right:10px;
    top:10px;
    z-index:200;
}

.nav-active .nav_trigger {
    opacity:1;
}

.nav_icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
    transition-property: background-color, transform;
    transition-duration: 300ms;
}

.nav_icon:before,
.nav_icon:after {
     content:'';
     display:block;
     width:30px;
     height:5px;
     position: absolute;
     background: #FFFFFF;
     transition-property: margin, transform;
     transition-duration: 300ms;
 }

.nav_icon:before {
     margin-top:-10px;
 }

.nav_icon:after {
     margin-top:10px;
 }

.nav {
    transform: translateX(-100%);
    width:100%;
    height:100%;
}

.nav_link {
    opacity:0;
    transition-delay:500ms;
}

.nav-active .nav_link {
    opacity:1;
}

.nav-active .nav {
    transition: all 300ms ease-in-out;
    transform: translateX(0);
}

.nav-active .nav_icon {
    background: rgba(0, 0, 0, 0.0);
}

.nav-active .nav_icon:before {
     margin-top:0;
     transform:rotate(45deg);
 }

.nav-active .nav_icon:after {
     margin-top:0;
     transform:rotate(-45deg);
 }

