* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/luca-zanon-26595.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.skill-container {
    justify-content: space-between;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.wrapper>div {
    margin: 50px auto;
}

.logo {
    padding: 25px 15px;
    font-size: 3em;
    color: white;
}

.menu {
    background-color: #1C77C3;
    justify-content: center;
}

.nav-item>a:link, .nav-item>a:visited {
    background-color: #1C77C3;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-item>a:active, .nav-item>a:active {
    background-color: white;
    color: #1C77C3;
}

#expirience, #education, #skills {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
}

footer>span, footer>i {
    font-family: "Open Sans", sans-serif;
    color: white;
    margin: 0 15px;
}

a, a:link, a:visited, a:visited, a:any-link  {
    text-decoration: none;
    color: white;
}

.copyright {
    text-align: center;
}

.footer-item {
    margin: 10px 15px;
}

.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #1C77C3;
}

.nav-conainer {
    margin: 0 auto;
}

.center {
    align-items: center;
    justify-content: center;
}

.button {
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: #1C77C3;
    border: 2px white solid;
}

.button:hover {
    font-family: "Open Sans", sans-serif;
    color: #1C77C3;
    background-color: white;
    border: 2px white solid;
}

textarea, input {
    font-family: "Open Sans", sans-serif;
    border-radius: 0;
    border: 2px white solid;
    font-size: 0.8em;
}

.mail, .message {
    width: 90%;
    resize: none;
}

.message {
    height: 50px;
}

.contact {
    border: 2px white solid;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.links {
    justify-content: space-around;
    color: white;
}

h2 {
    display: inline;
    margin-left: 5px;
}

ul, li, img, .skill-container, .contact-header, .mail, .message, textarea, input, .button {
    margin: 10px;
}

.links, .contact {
    margin: 10px 0;
}

footer {
    background-color: #1C77C3;
    justify-content: center;
    font-size: 1.25em;
    color: white;
}

.footer-wrapper {
    justify-content: center;
}

@media screen and (max-width: 575px) {
    .col-xl {
        width: auto;
    }
    .thumbnail{
        width: 100%;
        justify-content: center;
    }
    .logo {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .col-xl {
        width: 540px;
    }
    .thumbnail{
        width: 33%;
        justify-content: center;
    }
    .skill-container {
        justify-content: center;
    }
    .logo {
        font-size: 2em;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .col-xl {
        width: 720px;
    }
    .thumbnail{
        width: 33%;
        justify-content: center;
    }
    .skill-container {
        justify-content: center;
    }
}

@media screen and (min-width: 992px) and (max-width:1200px) {
    .col-xl {
        width: 960px;
    }
    .thumbnail{
        width: 25%;
        justify-content: center;
    }
}

@media screen and (min-width: 1201px) {
    .col-xl {
        width: 1140px;
    }
    .footer-wrapper {
        justify-content: space-around;
    }
    .links {
        order: -1;
    }
    .contact {
        order: 0;
    }
}